.navbar {
  width: 100vw;
  height: 70px;
  background-color: #eff6ff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.navbar-logo-icon {
  width: 70px;
  height: 70px;
}

.logo-icon-name {
  font-size: 30px;
  margin-left: 10px;
  font-weight: bold;
}
.navbar-elements {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-profile {
  width: 53px;
  height: 53px;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar-element {
  width: 30%;
  height: 100%;
  background: #a0a4a2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.navbar-element:active {
  background-color: #34e0a1;
}

.nav-bar-icon {
  color: white;
}
.navbar-elements-pics {
  display: flex;
  align-items: center;
}
.sign-out {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #34e0a1;
  margin-left: 2%;
}
.sign-out:active {
  outline: none;
  transform: scale(0.9);
}
.no-account-icon {
  margin-right: 10px;
}

.img-popup2 {
  width: 700px;
  height: 500px;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 64px;
  background: #eee7e7;
  box-shadow: 31px 31px 73px #7e7a7a, -31px -31px 73px #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  top: 50px;
}

.sign-out .navbar-profile {
  cursor: pointer;
}

.img-popup2 input {
  width: 40%;
  height: 20%;
  border: 0;
  border-radius: 20px;
  margin: 5% 0;
  padding-left: 10px;
}

.img-popup2 button {
  width: 10%;
  height: 50px;
  border-radius: 64px;
  background: rgb(245, 224, 224);

  border: rgb(182, 66, 66) 1px solid;
  margin: 0 5%;
}

.popup-btn {
  width: 70%;
}

.popup-img {
  height: 30%;
  margin: 2% 0;
}
