.task-to-do-container {
  width: 100%;
  left: 791px;
  top: 170px;
  background: #eff6ff;
  border-radius: 28px;
  margin-bottom: 20px;
  padding: 20px 0;
}
.task-to-do-description {
  height: 80%;
  color: #64748b;
}
.task-to-do-contents {
  display: flex;
  height: 90%;
  flex-direction: column;
  padding: 5px 20px;
  justify-content: space-between;
}
.task-to-do-buttons {
  display: flex;
  justify-content: flex-end;
  color: #34e0a1;
}
.task-to-do-buttons div {
  margin: 0 20px;
  font-weight: bolder;
  transition: 0.1s ease;
  cursor: pointer;
}

.task-to-do-buttons div:hover {
  border-bottom: 3px solid ;
}