/* .post-wrapper {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  background: transparent;
} */
#posts-item {
  margin-top: 15%;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  background: #eff6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -2;
  font-weight: bold;
  align-items: center;
}
#posts-item .meme-author {
  background: white;
  width: fit-content;
}
#posts-item p {
  background: white;
  width: fit-content;
}
.posts-item-img {
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: -1;
  opacity: 1;
  border-radius: 20px;
}
.post-item-like {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
  z-index: 10;
}
