.community-container {
  display: flex;
}

.community-posting {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #64748b;
}

.community-posting h3 {
  color: #101010;
}

.community-posting form {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  margin: 5% 0;
  text-align: center;
}

.community-posting form textarea {
  background-color: #eff6ff;
  border-radius: 20px;
  border: none;
  margin: 5% 0;
}

.community-posts {
  width: 70%;
  text-align: center;
  margin-top: 2%;
}
.community-posts p {
  color: black;
}
.posts-item-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 5%;
}

.img-btn {
  font-size: 1rem;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
  align-self: center;
  background-color: #eff6ff;
  margin: 5% 0;
  transition: 180ms box-shadow ease-in-out;
}
.img-btn:focus {
  outline: 3px solid transparent;
}

.form-btn {
  background: #34e0a1;
  border-radius: 8px;
  width: 40%;
  height: 30px;
  border: none;
  align-self: center;
  margin-top: 5%;
}

.community-time {
  width: 30%;
  background-color: #eff6ff;
  height: 10%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.community-time p {
  color: black;
}

.wotd {
  background-color: #eff6ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 2% 0 10% 0;
  border-radius: 20px;
  color: black;
}

.community-posting h1 {
  color: black;
}

.meme-textarea {
  padding-top: 30px;
  font-size: 20px;
  width: 300px;
  height: 200px;
}
.meme-textarea:focus {
  outline: 3px solid transparent;
}
